@import "_color-palette-default.scss";

$colorscheme: "Orchis-Yellow-Dark-Compact";

// Gnome-shell panel style
$panel_style: "float";

// transparent opacity
$opacity: "default";

// blackness
$blackness: "false";

// Theme primary color
$theme: "Orchis-Yellow-Dark-Compact";

// Check and radio primary color
$check_radio: "default";

// Default corner radius value
$mac_style: "false";

// Default corner radius value
$default_corner: 12px;

$corner_style: "default";

@if ($default_corner / 1px >= 10) {
  $corner_style: "circular";
} @else {
  $corner_style: "square";
}

// Default sub-menu styling
$submenu_style: "false";
