// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";

* {
  font-family: "Public Sans";
}

window.Bar {
  background: transparent;
  color: #{$theme_bg_color};

  > * {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 1px;
  }

  label {
    color: #{$theme_fg_color};
  }

  .indicator {
    color: #{$theme_fg_color};
    margin-left: 4px;
    margin-right: 4px;
  }

  .tray {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.main-menu:hover window.Bar {
  min-height: 200px;
}

button {
  padding: 0;
  background: transparent;
}

.focused {
  opacity: 100;
}

.low {
  /* color:  */
}
.mid {
  /* color:  */
}
.high {
  /* color:  */
}
